# ==========================================
# Python
# ==========================================

__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================================
# Virtual Environment
# ==========================================

venv/
.env/

# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/

# ==========================================
# OS Files
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# Large Raw Dataset
# ==========================================

data/raw/

# ==========================================
# Generated Processed Data
# ==========================================

data/processed/dataset_25/
data/processed/dataset_55/

# ==========================================
# Partition Files
# ==========================================

data/partitions/

# ==========================================
# Saved Models
# ==========================================

*.pth

# ==========================================
# Experiment Outputs
# ==========================================

results/

# ==========================================
# Temporary Logs
# ==========================================

*.log